.main-login, .main-registro {
  height: 168px;
  overflow: hidden;
}
.form-bg {
    display: inline-block;
    float: left;
    width: 50%;
    margin: auto;
    height: 100%;
}
.loginToRegister {
    display: inline-block;
    float: left;
    width: 50%;
    background-color: #4CAF50;
    height: 100%;
    border-left-style: solid;
    border-left-color: black;
    border-left-width: 1px;
}
footer{
  clear: both;
}
