*{box-sizing:border-box}
.container{
  width: 100%;
  margin: 0 auto;
}
.main-head{
  width: 95%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5px;
}
.login-head{
  width: 100%;
  margin: 0 auto;
  height: 50px;
  background-color: black;
  color: white;
  overflow: hidden;
  max-width: 1200px;
}
.loginBoxTxt{
  display: inline-block;
  float: unset;
}
.loginBoxFrm{
  display: inline-block;
}
.temp{
  float: right;
  margin-right: 10px;
  margin-top: 15px;
}
.logo{
  clear: both;
  width: 95%;
  margin: auto;
}
.nav-bar-lg{
  display: none;
}
.nav-bar{
  margin: 0 auto;
  width: 160px;
  background-color: #EAF2D0;
}
.dropbtn {
  width: 160px;
  background-color: inherit;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}
.dropdown:hover .dropbtn {
  background-color: #EAF2D0;
}
.banner{
  width: 95%;
  margin: auto;
  overflow: hidden;
}
.main-product{
  width: 95%;
  margin: auto;
}
article.products{
  width: 95.8%;
  margin: auto;
  overflow: hidden;
}
article.products img{
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 5px;
}
article.products-slider{
  width: 95%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 5px;
}
.login-form-div, .refon{
  width: 200px;
  margin: 0 auto;
  padding: 10px 0 10px 0;
  border: 2px;
  border-style: solid;
  border-radius: 25px;
  border-color: #808080;
  margin-bottom: 5px;
  background-color: #A9A9A9;
  text-align: center;
}
.register-form-div{
  text-align: center;
  width: 265px;
  margin: 0 auto;
  padding: 10px 0 10px 0;
  border: 2px;
  border-style: solid;
  border-color: #808080;
  margin-bottom: 5px;
  border-radius: 25px;
  background-color: #A9A9A9;
}
label, input{
  margin: 5px 0 5px 0;
}
footer{
  background-color: rgb(57, 57, 57);
  height: 100px;
  border-radius: 25px 25px 0 0;
}
.social-links ul{
  overflow: hidden;
}
.social-links li{
  float: left;
}
@media only screen and (min-width:768px) {
  .container{
    width: 750px;
  }
  .banner img{
    height: 500px;
  }
  article.main-product img{
    height: 500px;
  }
  article.products img{
    width: 50%;
    padding: 5px;
  }

}
@media only screen and (min-width:992px) {
  .container{
    width: 970px;
  }
  article.products img{
    width: 33.33%;
  }
  .nav-bar{
    display: none
  }
  .nav-bar-lg{
    display: block;
    overflow: hidden;
  }
  .nav-bar-lg li{
    list-style: none;
    overflow: hidden;
    display: inline-block;
  }
  .nav-bar-lg a{
    text-decoration: none;
    float: left;
  }
  .register-form, .login-form{
    text-align: center;
  }

}
@media only screen and (min-width:1200px) {
  .container{
    width: 1170px;
  }

}
