*{box-sizing:border-box}

html,body,ul,img,div{
	margin:0px;
	border:0px;
	padding:0px;
}

@font-face {
	font-family: avenir;
	src: url(../fonts/Avenir.ttc)
}

.container{
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  max-width: 1200px;

}
.main-head{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5px;
}
.login-head{
  width: 100%;
  margin: 0 auto;
  height: 60px;
  color: black;
  font-family: avenir;
  font-size: 0.7em;
  overflow: hidden;
}


.loginBoxTxt{
  display: inline-block;
  float: unset;
}

.loginBoxFrm{
  display: inline-block;
}

.temp{
  float: right;
  margin-right: 10px;
  margin-top: 15px;
  margin-left: 10px;
}

.logo{
  clear: both;
  width: 100%;
  margin: auto;
  padding: 0px;
}

.logo img{
	width: 60%;
	margin-bottom: 10px;
}
.nav-bar-lg{
  display: none;
}
.nav-bar{
  margin: 0 auto;
  width: 160px;
  /*background-color: #EAF2D0;*/
}
.dropbtn {
  width: 160px;
  color: black;
  font-family: avenir;
  padding: 16px;
  font-size: 1.1em;
  border: none;
  cursor: pointer;
  background-color: white;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
	background-color: rgba(204, 203, 198, 0.89);
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
    color: black;
		font-family: avenir;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/*.dropdown-content a:hover {
  background-color: #f1f1f1
}
.dropdown:hover .dropbtn {
  background-color: #EAF2D0;
}*/
.banner{
  width: 95%;
  margin: auto;
  margin-bottom: 20px;
  overflow: hidden;
}
.main-product{
  width: 95%;
  margin: auto;
}
article.products{
  width: 95.8%;
  margin: auto;
  overflow: hidden;
}
article.products img{
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 5px;
}
article.products-slider{
  width: 95%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 5px;
}

.login-form-div, .refon{
  width: 70%;
  margin: 0 auto;
  padding: 40px 0 30px 0;
  border: 8px solid black;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: white;
  text-align: center;
  font-family: avenir;
}

.login a{
	margin: 10px 0 10px 0;
}

 .email, .login-pass, .username, .register-pass, .cpassword{
	border: 1px solid black;
	width: 60%;
	padding: 10px;
}
.remember-box {
	width: 3%;
}

.btnSubmit{
	border: 0.8px solid black;
	width:20%;
	background-color: rgba(204, 203, 198, 0.89);
	font-size: 0.8em;
	font-family: avenir;
	margin-top: 5px;
}

.imgprofile{
	border: 1px solid black;
	width: 60%;
	padding: 5px;
	background-color: rgba(254, 249, 210, 0.89);
}


.submit-loggin, .submit-register{
	border: 0.8px solid black;
	width:20%;
	background-color: rgba(204, 203, 198, 0.89);
	font-size: 0.8em;
	font-family: avenir;
}

.register-form-div{
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 40px 0 30px 0;
  border: 8px;
  border-style: solid;
  border-color: black;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: white;
  font-family: avenir;
}
label, input{
  margin: 5px 0 5px 0;
}


footer{
  background-color: white;
  height: 50px;
  width: 100%;
}
.social-links ul{
  overflow: hidden;
}
.social-links li{
  float: left;
}
@media only screen and (min-width:768px) {
  .container{
    /*width: 750px;*/
	width: 90%;
  }
  .banner img{
    height: 500px;
  }

  article.main-product img{
    height: 400px;
  }
  article.products img{
    width: 50%;
    padding: 5px;
  }

}
@media only screen and (min-width:992px) {
  .container{
    /*width: 970px;*/
	width: 80%;
  }
  article.products img{
    width: 33.33%;

  }
  .nav-bar{
    display: none
  }
  .nav-bar-lg{
    display: block;
    overflow: hidden;
  }
  .nav-bar-lg li{
    list-style: none;
    overflow: hidden;
    display: inline-block;
  }
  .nav-bar-lg a{
    text-decoration: none;
    float: left;
  }
  .register-form, .login-form{
    text-align: center;
  }

}
@media only screen and (min-width:1200px) {
  .container{
    /*width: 1170px;*/
	width: 70%;
  }

}
